@charset "ISO-8859-1";

.find {
    color: #555;
    display: flex;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    width: 220px;
    margin-left: 100px;
}

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

button[type="submit"]:hover {
    opacity: 1;
}

#w-left-50 {
    width: 70%;
    float: left;
}

#w-right-50 {
    width: 30%;
    float: right;
}

#search {
    margin-top: 20px;
    float: right;
}

#w-right-50 a i {
    color: black;
    font-size: 25px;
    float: left;
    margin-left: 20px;
}

body {
    width: 1505px;
    height: 3000px;
}

header {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 999;
}

/* img_product */
#img_product{
    padding: 0;
    margin: 0;
}

#img_product img{
    width: 500px;
    height: 800px;
    object-fit: cover;
    object-position: center;
}

#img_product .control{
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: rgb(45, 45, 45);
    transform: translateY(-50%);
    cursor: pointer;
}

#img_product .prev{
    left: 10px;
}

#img_product .next{
    right: 10px;
}

#list_image2{
    width: 100%;
    height: 800px;
    scroll-behavior: smooth;
}

#list_image2{
    padding: 0;
    margin-top: 70px;
    height: 650px;
    overflow: hidden;
}

.list-image .control2{
    position: absolute;
    top: -1%;
    font-size: 40px;
    color: rgb(45, 45, 45);
    transform: translateX(115%);
    
}

.list-image .control3{
    position: absolute;
    bottom: 1%;
    font-size: 40px;
    color: rgb(45, 45, 45);
    transform: translateX(115%);
    
}

/* .prev2{
    left: 9%;
}

.next2{
    p
} */

#list_image2 img{
    width: 100px; 
    height: 150px;
    margin-top: 10px; 
    margin-left: 20px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
/* 
.active{
    background-color: rgb(237, 237, 243);
} */

#infor_product{
    padding-left: 50px;
}

#infor_product h3{
    color: black; 
}

#infor_product p{
    color: #817f7f;
    margin-top: 20px;
}
#infor_product b{
    font-size: 24px;
    margin-top: 20px;
}

#infor_product .text-color{
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;

}

#infor_product .kichthuoc{
    margin-top: 20px;
}

#infor_product .soluong{
    margin-top: 20px;
}

#infor_product .mota{
    text-align: center;
}

.sanphamtuongtu{
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

/* radio button */
#radio_button input[type="radio"] {
    display: none;
}

#radio_button label {
    position: relative;
    color: #545454;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-flex;
    gap: 0.8em;
    border: 1px solid #787878;
    align-items: center;
    padding: 1em 1em;
    border-radius: 0.5em;
    width: 120px;
    margin-top: 20px;
    margin-right: 15px;
}

#radio_button label:before {
    content: "";
    height: 2em;
    width: 2em;
    border: 3px solid #7c7c7c;
    border-radius: 50%;    
}

#radio_button input[type="radio"]:checked + label:before {
    height: 2em;
    width: 2em;
    border: 0.65em solid #ffffff;
    background-color: #bebebe;  
}

#radio_button input[type="radio"]:checked + label {
    background-color: #c8cbce;
    color: #ffffff;
}
/* tang giam so luong */
#buy-amount {
    display: flex;
    margin-top: 20px;
}

#buy-amount button {
    width: 50px;
    height: 50px;
    outline: none;
    background: none;
    border: 1px solid #ececec;
    cursor: pointer;
}

#buy-amount button:hover {
    background-color: #ececec;
}

#buy-amount button:hover svg {
    color: #4f4f4f;
}

#buy-amount button svg {
    color: #909090;
}

#buy-amount #amount {
    width: 50px;
    text-align: center;
    border: 1px solid #ececec;
    background-color: #ffffff;
}

#btn-xemthem button {
    margin: auto;
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px 0px;
    margin-right: 20px;
    height: 50px;
}

/* chitietsanpham */
.chitietsanpham{
    background-color: #fff;
    width:auto;
    padding: 22px 30px;
    border-radius: 5px;
    line-height: 1.8em;
}

#ch{
    display: none;
}

#ch:checked ~ .content{
    display: block;
}
#ch:checked ~ label{
    display: none;
}

#buttonchitiet{
    display: inline-block;
    cursor: pointer;
    color: #fff;
    background-color: aquamarine;
    padding: 3px 13px;
    border-radius: 3px;
    margin-top: 12px;
}
.content{
    display: none;
}

/* product */
#items-name {
    float: left;
    font-size: 15px;
}

#items-price {
    font-weight: bold;
    width: 50%;
    float: left;
}

#items-btn {
    float: right;
    border-radius: 10px 5px;
}

#img-items {
    width: 100%;
    border-radius: 10px;
}

#items {
    margin-left: 40px;
}
#info-ticket {
    position: absolute;
    background-color: rgb(215, 215, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px 0px;
    width: auto;
    padding-left: 10px;
}

#info-ticket2 {
    position: absolute;
    background-color: rgb(194, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px 0px;
    width: auto;
    padding-left: 10px;
}

#more {display: none;}